<!--<div id="container">
  <p>🎉 Refer & Get $10.00 Off</p><br>
  <p>Invite your friends to get free shipping. For each friend you refer you'll get $10.00 offer</p>
  <input type="text" id="text" placeholder="enter email"/>
  <button id="button" >
    get 10% off
  </button>
  <div id="social">
    <a id="mail" href="">mail</a>
    <a id="twitter" href="">twitter</a>
    <a id="facebook" href="">facebook</a>
  </div>
</div> 



-->
<!--<div style="position: fixed; bottom:0; right:0">-->

  <div id="container">
  <p id="title">🎉 Refer & Get $10.00 Off</p>
  <p id="des">Invite your friends to get free shipping. For each friend you refer you'll get $10.00 offer</p>
  <input type="email" id="text" required placeholder="Enter your email"/>
  <button   id="button" >
    get 10% offer
  </button>
</div>

<button id="btn">🎉Get 10%off</button>
<button id="closebtn">&times;</button>

{% schema %}
  {
    "name": "AppEmbed",
    "target": "body",
    "stylesheet": "btn.css",
    "javascript": "btn.js",
    "settings": []
  }
{% endschema %}
